:root {
    --bg-color: rgb(194, 206, 195);
    --button-color: rgb(128, 211, 165);
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--bg-color);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.title
{
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

.text{
    font-size: 1.2rem;
    font-weight: 200;
    text-align: center;
    margin-top: 0.4rem;
}

.link{
    text-decoration: underline;
    font-weight: 200;
    color:rgb(35, 126, 126)
}

.content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    max-width: 700px;
    height: fit-content;
    padding: 2rem 5rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 1rem rgba(124, 124, 124, 0.39);
    box-sizing: border-box;
}

.inline-image{
    height: 100%;
    margin-right: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    border-radius: 0.6rem;
    box-sizing: border-box;
    padding: 0.7rem 1rem;
    margin-top: 0.5rem;
    height: 3rem;

    text-decoration: none;
    font-weight: 200;
    font-size: 1.2rem;

    transition: ease-in-out 0.2s;
    box-shadow: 0 0.4rem 0.5rem rgba(124, 124, 124, 0.39);
    color:black;
    background-color: var(--button-color);
}

.button:hover
{
    transform: scale(1.05);
}

.button:active
{
    filter: brightness(0.9);
    transform: scale(0.95);
}

@media (max-width: 500px) {
    .container {
        width: 100%;
    }
}

#error-icon{
    margin-bottom: 35px;
}

.circle,
.circle-border {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.circle {
  position: relative;
  background: white;
  transform: scale(1);
  animation: success-anim 700ms ease;
}

.circle-border {
  z-index: 0;
  position: absolute;
  transform: scale(1.1);
  animation: circle-anim 400ms ease;
  background: rgba(255, 135, 102, 0.63);
}

@keyframes success-anim {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes circle-anim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.1);
  }
}
.error::before,
.error::after {
  content: "";
  display: block;
  height: 4px;
  background: rgb(255, 97, 69);
  position: absolute;
  border-radius: 1rem;
}

.error::before {
  width: 40px;
  top: 48%;
  left: 25%;
  transform: rotateZ(50deg);
}

.error::after {
  width: 40px;
  top: 48%;
  left: 25%;
  transform: rotateZ(-50deg);
}

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
  }
  .success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4CAF50;
  }
  .success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
  }
  .success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
  }
  .success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: "";
    height: 100px;
    position: absolute;
    background: #FFFFFF;
    transform: rotate(-45deg);
  }
  .success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
  }
  .success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
  }
  .success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
  }
  .success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, 0.5);
  }
  .success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
  }
  
  @keyframes rotate-circle {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @keyframes icon-line-tip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes icon-line-long {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }

  .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 80px;
    height: 80px;
    margin: 8px;
    border-radius: 100%;
    border: 4px solid rgb(100, 100, 100);
    border-color: rgb(100, 100, 100) transparent rgb(100, 100, 100) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  